<div class="px-1 py-3">
    <button class="btn btn-primary">Start a Discussion</button>
    <ul class="nav flex-column mt-3">
        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link active">
                <fa-icon [icon]="['fas', 'comments']"></fa-icon> All Discussion
            </a>
        </li>
        <li class="nav-item" *ngFor="let cat of categories">
            <a [routerLink]="['/']" [queryParams]="{ c: cat.name}" queryParamsHandling="merge" class="nav-link">
                <fa-icon [icon]="['fas', cat.displayIcon]"></fa-icon> {{cat.displayName}}
            </a>
        </li>
    </ul>
    <hr>
    <div class="text-center"><small>v1.0.0</small></div>
</div>